<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="productGrid(products, columns)" class="product-grid-component">
    <div class="w-full max-w-6xl mx-auto">
        <div th:class="${'grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-' + (columns ?: 4) + ' gap-8 w-full max-w-6xl'}">
            <div th:each="product : ${products}" 
                 th:replace="~{components/ProductCard :: productCard(${product})}">
            </div>
        </div>
    </div>
</div>

</html>
